<footer class="main-footer">
    <div class="centered">
        <ul class="nav--inline">
            <li><a href="https://lunchmates.org/">home</a></li>
            <li><strong><a href="/">blog</a></strong> </li>
            <li><a href="https://lunchmates.org/pages/support">support</a></li>
            <li><a href="https://lunchmates.org/pages/faq">FAQs</a></li>
            <li><a href="https://lunchmates.org/pages/premium">premium</a></li>
            <li><a href="https://lunchmates.org/pages/about_us">about us</a> </li>
            <li><a href="https://lunchmates.org/pages/imprint">imprint</a> </li>
            <li><a href="https://lunchmates.org/pages/privacy">terms of service</a></li>
            <li><a href="https://lunchmates.org/pages/privacy">privacy &amp; cookies</a></li>
        </ul>
    </div>
</footer>
