/* =================================================
    NAV
================================================= */
.nav--inline {
    margin-left: -$base-spacing-unit;

    li {
        display: inline-block;
    }

    a {
        margin-left: $base-spacing-unit;    
        display: inline-block;  
    }
}

.nav--block {
    margin-left: 0;

    li {
        display: block;
    }

    a {
        display: block;
    }
}

.main-nav {
    border-bottom: 1px solid $base-ui-color;

    .centered {
        @extend %cf;
    }
}

.main-nav__ribbon {
    display: inline-block;
    font-size: 1.5*$base-font-size;
    line-height: 1;
    margin-bottom: -1*$base-ui-radius;

    a, a:hover {    
        @extend %brand-logo;
        padding: $base-spacing-unit;
        margin-left: -1*$base-spacing-unit;
        border-radius: 0 0 $base-ui-radius $base-ui-radius;
    }
}

.main-nav__actions {
    float: right;
    line-height: 1;
    @extend .nav--inline;
    margin-bottom: 0;

    a {
        padding: 1.25*$base-spacing-unit 0 0.75*$base-spacing-unit;
        font-weight: bold;
        color: lighten($text-color, 15%);

        &:hover {
            color: $brand-color;
        }
    }
}

@include media-query($on-palm) {
    .main-nav__actions { float: none; }
    .main-nav { text-align: center;}
    .main-nav__ribbon {
        a, a:hover, & {
            display: block;
            width: 100%;
            border-radius: 0;
        }
    }
}




/* =================================================
    FOOTER
================================================= */
.main-footer {
    padding-top: $base-spacing-unit;
    border-top: 1px solid $base-ui-color;
    text-align: center;

    a {
        color: lighten($text-color, 10%);

        &:hover {
            color: darken($text-color, 10%);
        }
    }
}

